In [1]:
adult_data=pd.read_csv("adult.data.csv")

In [2]:
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
adult_data.salary.value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [5]:
adult_data.columns=[i.replace("-","_") for i in adult_data.columns]

In [6]:
adult_data.relationship.value_counts()
adult_data.education.value_counts()
adult_data.native_country.value_counts()
adult_data.native_country=[i.replace("?","Other") for i in adult_data.native_country]
adult_data.capital_gain.value_counts()
adult_data.capital_loss.value_counts()
adult_data.shape

(32561, 15)

In [7]:
#adult_data.native_country.value_counts()
#adult_data.sex.value_counts()
#adult_data.race.value_counts()
adult_data.occupation=[i.replace("?","other") for i in adult_data.occupation]
adult_data.workclass=[i.replace("?","other") for i in adult_data.workclass]

In [8]:
#adult_data.hist(bins=50, figsize=(20,15));
#sns.pairplot(adult_data,hue="salary")

In [9]:
adult_data.corr()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
age,1.000000,-0.076646,0.036527,0.077674,0.057775,0.068756
fnlwgt,-0.076646,1.000000,-0.043195,0.000432,-0.010252,-0.018768
education_num,0.036527,-0.043195,1.000000,0.122630,0.079923,0.148123
capital_gain,0.077674,0.000432,0.122630,1.000000,-0.031615,0.078409
capital_loss,0.057775,-0.010252,0.079923,-0.031615,1.000000,0.054256
hours_per_week,0.068756,-0.018768,0.148123,0.078409,0.054256,1.000000

In [10]:
adult_data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
nominal_features=adult_data[["workclass","marital_status","occupation",
                  "relationship","race","sex","native_country"]]
ordinal_features=adult_data[["education","salary"]]

In [12]:
adult_data1=pd.get_dummies(nominal_features)

In [13]:
adult_data1.shape

(32561, 86)

In [14]:
from sklearn.preprocessing import LabelEncoder
lbe=LabelEncoder()

In [15]:
edu=lbe.fit_transform(adult_data.education)
adult_data1["salary"]=lbe.fit_transform(adult_data["salary"])

In [16]:
adult_data1["education"]=pd.DataFrame(edu)

In [17]:
adult_data1[["age","education_num","hours_per_week"]]=adult_data[["age","education_num","hours_per_week"]]

In [18]:
X=adult_data1[adult_data1.columns.drop("salary")].values
y=adult_data1["salary"]

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [20]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(26048, 90)
(6513, 90)
(26048,)
(6513,)

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
lgr=AdaBoostClassifier()

In [47]:
lgr.fit(X_train,y_train)
X_train
y_train

5514     1
19777    1
10781    0
32240    0
9876     0
        ..
29802    0
5390     0
860      0
15795    0
23654    0
Name: salary, Length: 26048, dtype: int32

In [48]:
y_pred=lgr.predict(X_test)

In [49]:
#lgr.coef_

In [50]:
#lgr.intercept_

In [51]:
pd.DataFrame(y_pred,y_test)

        0
salary
0       0
0       1
1       1
0       0
0       0
...    ..
0       0
1       1
1       1
0       0
0       0

[6513 rows x 1 columns]

In [52]:
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,f1_score
confusion_matrix(y_pred,y_test)

array([[4566,  657],
       [ 376,  914]], dtype=int64)

In [53]:
accuracy_score(y_pred,y_test)
recall_score(y_test,y_pred)
f1_score(y_test,y_pred)

0.6389374344634743